{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>CuidaPet - Agendamento</title>

  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="{% static 'css/agendamento.css' %}" />
  
</head>

<body>
  <header class="navbar">
    <div>
         <span>
          <i class="fa-solid fa-paw"></i>
          CuidaPet
        </span>
    </div>

    </header>


  <main class="page">
    <div class="container">

     
      <section class="profile-card">
        <div class="cuidador">
          <img data-field="foto-cuidador" src="paginas/static/images/cuidador.jpg" alt="foto-cuidador" />
        </div>

        <div class="info">
          <h1 data-field="nome">Paulo Roberto</h1>

          <div class="meta">
            <div>
              <h4 data-field="cidade">Cidade</h4> 
              <h4 data-field="estado">UF</h4>
            </div>
          </div>

          <div class="divside">
            <p class="diaria-statico">Diária</p>
            <div class="price">
             <p class= "simb"> R$ </p> <p class="valor" data-field="valor_diaria">0,00</p>
            </div>

          </div>
        </div>
      </section>

      <section class="grid">
        
        <div class="infor">
          <h2>Sobre mim</h2>
          <p class="servico" data-field="sobre_mim">
            Texto do “Sobre Mim”.
          </p>
        </div>

        
        <div class="infor">
          <h2>Serviços oferecidos</h2>
                    <p class="servico">Descrição dos Serviços</p>
        </div>

        
        <div class="box reserve infor">
          <h2>Agendamento</h2>

          <div class="form-grid">
            <div>
              <p class="datas">Data de início</p>
              <div class="input">
               
                <input type="date" required>
              </div>
            </div>

            <div>
              <p class="datas">Data final</p>
              <div class="input">
                
                <input type="date" required>
              </div>
            </div>
          </div>

          <div class="totals">
            <div class="total-row">
              <h3>Dias</h3>
              <p>0</p>
            </div>

            <div class="total-row">
              <h3>Valor total</h3>
	<div class= "price">
              <h4>R$ </h4> <p>0,00</p></b>
	</div>
            </div>

            <p class="tiny">O total é calculado automaticamente: diária × número de dias.</p>
          </div>

          <div class="pagar">
            <h2 class="label">Forma de pagamento</h2>

            <div class="radio">
              <input type="radio" name="payment" value="pix" required>
              <h3>PIX</h3>
            </div>

            <div class="radio">
              <input type="radio" name="payment" value="debito">
              <h3>Débito</h3>
            </div>

            <div class="radio">
              <input type="radio" name="payment" value="credito">
              <h3>Crédito</h3>
            </div>
          </div>

          <div class="check">
            <input id="sharePhone" type="checkbox">
            <h4>Autorizo disponibilizar meu número de telefone para o cuidador.</h4>
          </div>

          <button type="button">AGENDAR</button>

         </div>

        
        <div class="box reviews infor">
          <h2>Avaliações</h2>
          

            <div class="review ">
              <div class="review-top">
		<div class= "price">
		<p class="note"> Nota: </p>
                <p class="note"> 5,0</p>
		</div>
                <p class="date" data-field="data_criacao">2026-02-26</p>
              </div>
              <p class="comment" data-field="comentario">Avaliação do cliente (banco de dados)</p>
            </div>

          </div>
        </div>
      </section>


      <footer >
        <p>@Copyright 2026 - CuidaPet</p>
      </footer>
    
  </main>

  </body>
</html>