{% extends 'base.html' %}
{% load static %}

{% block title %}CuidaPet - Cadastro{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block content %}
    <section class="card" aria-label="Login CuidaPet">
        <h1>Bem-vindo ao CuidaPet</h1>
        <p class="subt">Selecione qual tipo de usuário você será!</p>

        <a href="{% url 'tutor_create' %}" class="btna">Cadastrar como Tutor</a>
        <a href="{% url 'cuidador_create' %}" class="btna">Cadastrar como Cuidador</a>

        <hr>
        <a href="{% url 'login' %}">Fazer Login</a>
    </section>
{% endblock %}