{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PetCare - Cadastro</title>

  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />

  
</head>

<body>
  <main class="princ">
    <section class="card" aria-label="Login CuidaPet">


      <h1>Bem-vindo ao CuidaPet</h1>
      <p class="subt">Selecione qual tipo de usuário você será!</p>

        <a href="{% url 'tutor' %}" class="btna">
        Cadastrar como Tutor
        </a>
        <a href="{% url 'cuidador' %}" class="btna">
        Cadastrar como Cuidador
        </a>
        <hr>
        <a href="{% url 'login' %}">Fazer Login</a>
      </form>

    
    </section>
  </main>
</body>
</html>