{% load static %}

<!DOCTYPE html>
	<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CuidaPet</title>

  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    
</head>

<body>
  <header class="navbar">
    <div class="logo">
         <span>
            <i class="fa-solid fa-paw"></i>
            CuidaPet
         </span>
    </div>
  </header>



<section class="principal container">
    <div >

        <h1>Encontre o Cuidador Perfeito para seu Pet</h1>

        <p>
            Milhares de cuidadores verificados prontos para dar todo carinho e atenção que seu amigo merece
        </p>

     
        <div class="search-box">

            <input type="text" placeholder="Onde você está?">
          

            <button class="btn-search">Buscar</button>

        </div>
    </div>
</section>




<section class="cards">
  
    <div class="card">
        <img src="#" alt="cuidador">
        <h3>Paulo</h3>
        <p>Cuidadora experiente - 5 anos</p>
    </div>

 </section>
 <footer >
        <p>@Copyright 2026 - CuidaPet</p>
 </footer>
  



</body>
</html>