{% load static %}

<!DOCTYPE html>
	<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuidaPet</title>

  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="...">
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    
</head>

<body>
  <header class="barra">

         <h3>Cuida Pet</h3>
    
    </header>



<section class="principal">
    <div class="hero-content">

        <h1>Encontre o Cuidador Perfeito para seu Pet</h1>

        <p>
            Milhares de cuidadores verificados prontos para dar todo carinho e atenção que seu amigo merece
        </p>

     
        <div class="box">

            <input type="text" placeholder="Onde você está?">
          

            <button class="btn">Buscar</button>

        </div>
    </div>
</section>




<section class="cards">

    <div class="card">
        <img ???="cuidador.jpg" alt="foto-cuidador">
        <h3>Paulo</h3>
        <p>Cuidador experiente - 5 anos</p>
    </div>

  

</section>

</body>
</html>