{% extends 'base.html' %}
{% load static %}

{% block title %}CuidaPet - Cadastro de tutor{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tutor.css' %}">
{% endblock %}

{% block content %}


  <section class="wrap">

    <div class="titulo">
      <h1>Cadastro de Tutor</h1>
      <p>Crie sua conta e comece a cuidar dos seus pets com os melhores profissionais</p>
    </div>

    <form class="card" method="post">
      {% csrf_token %}

      <section class="section">
        <div class="section-int">
          <h2>Dados Pessoais</h2>
        </div>

        <div>
          <div class="borda">
            <p class="texto">{{ tutor_form.first_name.label }}</p>
            <div class="input">
              {{ tutor_form.first_name }}
            </div>
            {% if tutor_form.first_name.errors %}<p style="color: red; font-size: 0.85rem;">{{ tutor_form.first_name.errors.0 }}</p>{% endif %}
          </div>

          <div class="borda">
            <p class="texto">Celular</p>
            <div class="input">
              {{ tutor_form.telefone }}
            </div>
            {% if tutor_form.telefone.errors %}<p style="color: red; font-size: 0.85rem;">{{ tutor_form.telefone.errors.0 }}</p>{% endif %}
          </div>
        </div>
      </section>

      <hr>
      <section class="section">
        <div class="section-int">
          <h2>Acesso</h2>
        </div>

        <div>
          <div class="field col-2">
            <p class="texto">{{ tutor_form.email.label }}</p>
            <div class="input">
              {{ tutor_form.email }}
            </div>
            {% if tutor_form.email.errors %}<p style="color: red; font-size: 0.85rem;">{{ tutor_form.email.errors.0 }}</p>{% endif %}
          </div>

          <div class="field">
            <p class="texto">{{ tutor_form.password1.label }}</p>
            <div class="input">
              {{ tutor_form.password1 }}
            </div>
            {% if tutor_form.password1.errors %}<p style="color: red; font-size: 0.85rem;">{{ tutor_form.password1.errors.0 }}</p>{% endif %}
          </div>

          <div class="borda">
            <p class="texto">{{ tutor_form.password2.label }}</p>
            <div class="input">
              {{ tutor_form.password2 }}
            </div>
            {% if tutor_form.password2.errors %}<p style="color: red; font-size: 0.85rem;">{{ tutor_form.password2.errors.0 }}</p>{% endif %}
          </div>
        </div>
      </section>

      <hr>

      <section class="section">
        <div>
          <div>
            <h2>Cadastre seu Pet</h2>
            <p>Adicione informações sobre o seu pet</p>
          </div>
        </div>

        <div>
          <div class="borda">
            <p class="texto">{{ pet_form.nome.label }}</p>
            <div class="input">
              {{ pet_form.nome }}
            </div>
            {% if pet_form.nome.errors %}<p style="color: red; font-size: 0.85rem;">{{ pet_form.nome.errors.0 }}</p>{% endif %}
          </div>

          <div class="borda">
            <p class="texto">{{ pet_form.especie.label }}</p>
            <div class="input">
              {{ pet_form.especie }}
            </div>
            {% if pet_form.especie.errors %}<p style="color: red; font-size: 0.85rem;">{{ pet_form.especie.errors.0 }}</p>{% endif %}
          </div>

          <div class="borda">
            <p class="texto">{{ pet_form.raca.label }}</p>
            <div class="input">
              {{ pet_form.raca }}
            </div>
            {% if pet_form.raca.errors %}<p style="color: red; font-size: 0.85rem;">{{ pet_form.raca.errors.0 }}</p>{% endif %}
          </div>

          <div class="borda">
            <p class="texto">{{ pet_form.data_nascimento.label }}</p>
            <div class="input">
              {{ pet_form.data_nascimento }}
            </div>
            {% if pet_form.data_nascimento.errors %}<p style="color: red; font-size: 0.85rem;">{{ pet_form.data_nascimento.errors.0 }}</p>{% endif %}
          </div>
        </div>
      </section>

      <div class="actions">
        <a href="{% url 'login' %}">Voltar</a>
        <button type="submit">Finalizar</button>
      </div>

    </form>
  </section>


{% endblock %}