* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

html,
body {
    background:#f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 60px;
  background:white;
}

.logo{
  font-size:22px;
  font-weight:600;
  color:#2b59ff;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

footer{
  display:block;
  text-align:center;
  color:#6b7280;
  font-size:0.9rem;
  padding: 2rem;
}
